.header { position: fixed; background: linear-gradient(0deg, rgba($background, 0.5) 40%, rgba($background, 0.99)); width: 100%; z-index: 10;
  &__content { @include container; display: flex; justify-content: space-between; align-items: center; padding: 43px 0; }
  &__logo-container { width: 160px; height: 33px; }
  
  &__poster { display: block;
    &-image { object-fit: contain; }
  }
}