.icon { display: block; background-size: contain; background-repeat: no-repeat; background-position: center; width: 32px; height: 32px;
  &__spotify { background-image: url(../static/images/spotify.svg); }
  &__bx { background-image: url(../static/images/bx.svg); }
  &__orange-cloud { background-image: url(../static/images/orange-cloud.svg); }
  &__mic { background-image: url(../static/images/mic.svg); }
  &__tower { background-image: url(../static/images/tower.svg); }

  // &_white { background-color: $white; }
  // &_black { background-color: $black; }
  // &_coral { background-color: $coral; }
} 