.navigation {
  &__list { display: flex; gap: 40px; list-style: none; padding: 0;
    &_col { flex-direction: column; gap: 10px; }
  }

  &__link { text-decoration: none; color: $white; @include common-transition; font-size: 1.13rem;
    &:hover { color: $accent; }
  }
}