/*/ colors /*/
$black: #000000;
$background: #191919;
$accent: #118DA8;
$white: #FFFFFF;

/*/ fonts /*/
$font: 15px;

/*/ displays /*/
$tablet: 1024px;
$mobile: 768px;

/*/ mixin /*/
@mixin container {
  max-width: 1300px;
  margin: 0 auto;
}

@mixin common-transition {
  transition: all 0.2s ease-in-out;
}

@mixin common-background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin common-mask-image {
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}